//colors - main
$color-primary: #F5FFFA;
$color-primary-dark: #F5F5F5;
$color-primary-light: white;

$color-primary-background: #648ca6;
$color-primary-dark-background: #394263;
$color-primary-light-background: #d3d3;

//colors - secondary
$color-secondary: #394263;
$color-secondary-dark: #394263;
$color-secondary-light: #394263;

$color-secondary-background: #8fd4d9;
$color-secondary-dark-background: #3377ff;
$color-secondary-light-background: #80eaff;

//utils styles
$color-test-border: crimson;


// font variables ruler = font-size
$ruler: 16px;
