body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 15px;
  color: #F5FFFA; }

.border {
  border: crimson;
  border-width: 0.2rem;
  border-style: groove; }

/* Hamburger menu icon, stays fixed on mobile for any possible scrolling */
.sidenav-icon {
  position: fixed;
  display: flex;
  width: 10px;
  height: 10px;
  top: 38px;
  left: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #DADAE3; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.2px;
  padding: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.builder {
  color: red; }

/*** Assign grid instructions to our parent grid container ***/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* Side nav is hidden on mobile */
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas: 'header' 'builder' 'main' 'footer';
  height: 100vh; }

/*** grid-areas ***/
.header {
  grid-area: header; }

.footer {
  grid-area: footer; }

.builder {
  grid-area: builder; }

.main {
  grid-area: main;
  background-color: #8fd4d9; }

.sidenav {
  grid-area: sidenav; }

/* Layout for main content overview  and its cards*/
.main_overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid lightgreen; }

.overview_card {
  display: flex;
  flex-basis: 250px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 20px;
  height: 100px;
  border: 1px solid #394263;
  border-radius: 4px;
  background-color: #d3d3; }

/* Layout for main-cards section // below main_overview */
.main_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 200px 300px;
  grid-template-areas: 'card1' 'card2' 'card3';
  grid-gap: 10px; }

.card {
  padding: 20px;
  border: 1px solid #394263;
  border-radius: 4px;
  color: #648ca6; }

/* Force varying heights to simulate dynamic content */
.card:first-child {
  /* height: 40%; */
  grid-area: card1; }

.card:nth-child(2) {
  /* height: 20%; */
  grid-area: card2; }

.card:nth-child(3) {
  /* height: 30%; */
  grid-area: card3; }

.builder-card {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  /* height: 5vh; Force our height since we don't have actual content yet */
  background-color: #e3e4e6;
  color: slategray; }

/*** flexing sidenav ***/
/* Mobile-first side nav styles */
.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  /* Needs to sit above the hamburger menu icon */
  background-color: #394263;
  transform: translateX(-345px); }

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0); }

.sidenav__list {
  padding: 0;
  margin-top: 8.5rem;
  list-style-type: none; }

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #F5FFFA; }

.sidenav__list-item:hover {
  background-color: #648ca6;
  cursor: pointer; }

/* Only visible on mobile screens */
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  /* top: 8px;
  right: 12px; */
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* font-size: 20px; */
  color: #F5FFFA; }

/* Medium-sized screen breakpoint (tablet, 1050px) */
@media only screen and (min-width: 750px) {
  /* Show the sidenav */
  .grid-container {
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 50px 1fr 1fr 50px;
    grid-template-areas: 'sidenav header' 'sidenav builder' 'sidenav main' 'footer footer';
    height: 100vh; }
  .sidenav {
    display: flex;
    flex-direction: column;
    position: relative;
    /* Fixed position on mobile */
    transform: translateX(0); }
  /* Break out main cards into two columns */
  .main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 300px;
    grid-template-areas: 'card1 card2' 'card1 card3';
    grid-gap: 10px; }
  /* Non visible on larger screens  */
  .sidenav__close-icon {
    /* visibility: hidden; */
    display: none; } }

/*** flexing header and footer ***/
.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  background-color: #648ca6;
  color: #F5FFFA; }

.header__profile {
  display: flex;
  justify-content: space-between; }

/* Make room for the menu icon on mobile */
.header__search {
  /* margin-left: 42px; */
  margin-left: 24px; }
